@import "tailwindcss";

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/work-sans-v24-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/work-sans-v24-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/work-sans-v24-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Work Sans', Arial, sans-serif;
  
  --color-purple-100: #f8eeff;
  --color-purple-600: #8b6990;
  --color-purple-950: #301534;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-violet-600: #ad28eb;
}

body {
  font-family: var(--font-sans);
}